<div class="instagram-widget-wrapper">
    <div class="instagram-widget">
        <script src="/assets/js/instagram-widget.js"></script>
        {% for i in (0..3) %}
            <img
                src="https://profilepageimages.usecue.com/images/differently.artistic/small/{{ i }}.jpg"
                class="no-style"
                onclick="openImageViewer('https://profilepageimages.usecue.com/images/differently.artistic/{{ i }}.jpg')"
            >
        {% endfor %}
    </div>
    <a href="https://instagram.com/differently.artistic">Check out my Instagram for more photos!</a>
</div>