<nav>
    <ul class="navbar">
        <li><div class="float-centered"><img src="/assets/images/profile.jpg" class="profile-img no-style" onclick="window.location = '/index.html'"></div></li>
        {% for item in site.data.navigation %}
            <li><div class="float-centered">
                <a href="{{ item.link }}"
                {% if page.url == item.link %}class="current-page"{% endif %}>
                    {{ item.title }}
                </a>
            </div></li>
        {% endfor %}
        <li><div class="float-centered"><a href="https://github.com/SamuelMcGowan/">GitHub</a></div></li>
    </ul>
</nav>