---
---

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Noto+Sans+Mono&family=Work+Sans:ital@1&display=swap');

$bg-color: #33333b;
$bg-color-light: #4d4d59;
$bg-color-dark: #2d2d33;
$bg-color-darkest: #161618;
$bg-color-mid: #3e3e47;
$fg-color: #e6d9d1;
$fg-color-light: #f7f1ed;
$fg-color-dark: #b6afab;
$accent-color: #e64b2c;
$accent-color-dark: #c54026;

$corner-size: 3px;

$font-size-code: 13px;

$fade-speed: 30ms;
$fade-speed-slow: 100ms;

@mixin nospace {
    padding: 0;
    margin: 0;
}

@mixin card {
    background-color: $bg-color-light;
    box-shadow: 0 0 10px $bg-color-dark;
    transition-duration: $fade-speed;
    border-radius: $corner-size;
}

@mixin hover-shadow {
    box-shadow: 0 0 25px $bg-color-dark;
}

@mixin flat-card {
    margin: 0;
    padding: 15px;
    border-radius: $corner-size;
    background-color: $bg-color-mid;
    border: 1px solid $bg-color-light;
}

@mixin link {
    text-decoration-line: underline;
    text-decoration-style: dotted;

    transition-duration: $fade-speed;
    position: relative;
    bottom: 0;
    color: $fg-color;
}

@mixin link-hover {
    bottom: 0.1em;
    color: $accent-color;
}

@mixin link-visited {
    color: $fg-color-dark;
}

#main {
    display: flex;
    flex-direction: column;

    max-width: 800px;

    padding: 40px 30px;
    margin: auto;
    margin-bottom: 40px;
}

footer {
    // @include card;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 10px 20px;
}

html {
    position: relative;
    @include nospace;
    min-height: 100%;
}

body {
    @include nospace;

    background-color: $bg-color;
    font-family: 'Work Sans', monospace;
    font-size: 0.9em;
    color: $fg-color;
}

// body * {
//     border: 1px solid black;
// }

h1, h2, h3 {
    font-family: 'Archivo Black', sans-serif;
    margin-bottom: 15px;
}

// h1 {
//     text-decoration: underline;
// }

a.unstyled-link {
    color: inherit;
    text-decoration: none;
}

a:not(.unstyled-link) {
    @include link;
}

a:not(.unstyled-link):visited {
    @include link-visited;
}

a:not(.unstyled-link):hover {
    @include link-hover;
}

ul {
    padding-left: 15px;
    list-style-type: circle;
    line-height: 30px;
}

blockquote {
    margin-left: 0;
    font-family: "Noto Sans Mono";
}

blockquote p:before {
    content: "> ";
}

select {
    @include flat-card;
    margin-right: auto;
    margin-bottom: 15px;
    padding: 7px;
    color: inherit;
}

select:hover {
    @include hover-shadow;
}

img:not(.no-style) {
    @include card;
    margin-bottom: 15px;

    max-width: 100%;
}

.subtitle {
    font-style: italic;
}

// NAVBAR
.navbar {
    @include nospace;
    @include card;

    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    overflow: auto;

    list-style-type: none;
    border-radius: 0;
}

.navbar li {
    line-height: normal;
    float: left;
}

.navbar li:last-child {
    float: right;
}

.navbar .float-centered {
    display: table-cell;
    height: 50px;
    vertical-align: middle;
}

.navbar li a, .navbar li a:visited {
    @include link;
    display: block;
    position: relative;
    padding-left: 15px;

    text-decoration: none;
}
.navbar li a.current-page {
    text-decoration: underline;
}
.navbar li a:hover {
    @include link-hover;
    bottom: 1px;
}

.navbar .profile-img {
    margin-right: 5px;
    width: 25px;
    border-radius: 5px;
}

// POST LIST
.post-list {
    @include nospace;
    list-style-type: none;
}

.post-list a {
    @include flat-card;

    display: block;
    padding: 5px 15px;
    margin-bottom: 15px;

    text-decoration: none;

    //border-radius: $corner-size;
}
.post-list a:hover {
    @include hover-shadow;
}

.post-list h2, .post-list a:visited {
    @include link;
}
.post-list a:hover h2 {
    @include link-hover;
}

// CODE
.highlight pre {
    @include flat-card;
    overflow: auto;
    line-height: 20px;
}

.highlight pre:hover {
    @include hover-shadow;
}

pre.highlight {
    font-size: $font-size-code;
}

// TURBOWARP VIEWER
#turbowarp {
    display: none;
}
#turbowarp-viewer {
    @include nospace;
    @include flat-card;
    border-radius: $corner-size;
}

#turbowarp-descr {
    @include nospace;
    margin-bottom: 15px;
}

// INSTAGRAM WIDGET
#mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.699);

    transition-duration: $fade-speed-slow;
}

.instagram-widget-wrapper {
    margin-bottom: 25px;
}

.instagram-widget {
    white-space: nowrap;
    overflow-x: auto;
    padding-top: 5px;
    margin: 5px auto;
}

.instagram-widget img {
    @include card;
    display: inline-block;
    position: relative;
    margin-right: 15px;

    height: 130px;
    cursor: pointer;

    left: 0;
    bottom: 0;
    transition: all $fade-speed-slow linear;
}

.instagram-widget img:hover {
    @include hover-shadow;
    left: 0;
    bottom: 3px;
}

#instagram-widget-viewer {
    position: absolute;
    display: none;

    top: 50%;
    left: 50%;

    max-height: 60%;
    max-width: 60%;
    transform: translate(-50%, -50%);

    opacity: 0;
    transition-duration: $fade-speed-slow;

    box-shadow: 0 0 50px $bg-color-darkest;
    border-radius: $corner-size;
}

// PROJECT VIEWER
.project-controls {
    width: 100%;
    margin-bottom: 15px;
}

.project-link {
    @include link;
}
.project-link:hover {
    @include link-hover;
}

.project-next {
    float: right;
}

.project-disabled {
    cursor: pointer;
    @include link-visited;
}

// SNAKE
#new-game-btn {
    @include nospace;
    @include flat-card;
    margin-right: auto;
    margin-bottom: 15px;
    padding: 7px;

    cursor: pointer;
}

#new-game-btn:hover {
    @include hover-shadow;
}

#game-canvas {
    @include flat-card;
    margin-right: auto;
    margin-bottom: auto;
    padding: 0;
}